@import url(./global/global.css);
@import url(./global/header.css);
@import url(./global/footer.css);

/* utilidades */
@import url(./utilidades/componentes.css);
@import url(./utilidades/tipografia.css);
@import url(./utilidades/cores.css);

/* Home */
@import url(./home/introducao.css);
@import url(./home/tecnologia.css);
@import url(./home/parceiros.css);
@import url(./home/depoimento.css);

/* Bicicletas */
@import url(./bicicletas/bicicletas-lista.css);

/* Seguros */
@import url(./seguros/seguros.css);



blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}